body {
  background-color: palegreen;
}

nav {
  border: 5px dotted green;
  text-color: green;
}

.nav-link {
  display: inline-block;
}

h1 {
  color: green;
  text-align: center;
}

p {
  font-family: Helevetica;
}
