body {
  background-image: url("greengradient.png");
  background-repeat: no-repeat;
  background-color: white;
  background-attachment: fixed; 
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  width: 928px;
}

nav {
  background-color: #76c27c;
  text-color: green;
  text-align: center;
}

.nav-link {
  display: inline-block;
  text-align: center;
  text-decoration: bold;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: Helevetica;
}

aside {
        width: 150px;
        background-color: white;
        padding: 5px solid yellow;
        margin: 10px;
        float: right;
}



a:link {
  color: white;
  
  text-decoration: none;
}

a:visited {
  color: white;
  
  text-decoration: none;
}

a:hover {
  color: #74C2DC;
  
  text-decoration: underline;
}

a:active {
  color: indigo;
  
  text-decoration: underline;
}
