body {
  background-color: palegreen;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border: 5px solid green;
  text-color: green;
  text-align: center;
}

.nav-link {
  display: inline-block;
  text-align: center;
}

h1 {
  color: green;
  text-align: center;
}

p {
  font-family: Helevetica;
}
